{% extends 'Backend/layout.html.twig' %}
{% block header %}

{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-body">
            <table class="table datatable">
<thead>
<tr>

    <td> ID  </td>
    <td> Nom</td>
    <td> Prenom </td>
    <td> Mail </td>
    <td> Telephone </td>
    <td> Adresse  </td>
    <td> Date de naissance </td>
    <td> CV </td>
    <td> <font color="#8b0000">DELETE </font> </td>
    

</tr>

<tbody>

{% for item in formateur %}
    <tr>
    <td>{{item.id}}</td>
    <td>{{item.Nom}}</td>
    <td>{{item.Prenom}}</td>
    <td>{{item.Mail}}</td>
    <td>{{item.Telephone}}</td>
    <td>{{item.Adresse}}</td>
    <td>{{item.DateDeNaissance|date('d/m/y')}}</td>
    <td>{{item.CV}}</td> 
    <td><a href="{{ path('Delete_formateur',{'id':item.id})  }}"> Delete</a> </td>
    <td><a href="{{ path('Delete_formateur',{'id':item.id})  }}"> Delete</a> </td>
    <td><href src="{{asset('uploads/') ~ item.CV}}" ></td>
        
{% else %}
    <tr>
        <td colspan="10">no records found</td>
    </tr>
{% endfor %}
</tbody>
</table>

</div>
</div>


{% endblock %}
{% block stylesheet %}
    <link href="{{ asset('assets/vendor/plugins/pickers/bootstrap/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/plugins/pickers/bootstrap/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/plugins/pickers/bootstrap/locales/bootstrap-datepicker.fr.min.js') }}"></script>
{% endblock %}
